
h3{
    text-align: center;
}
.bg-header{
background-color: #2C3E50;
}

.bg-color-sez1{
    background-color:#1ABC9C;
}
.bg-color-footer1{
    background-color: #3A546D;
}
.bg-color-footer2{
    background-color: #2C3E50;
}
.img{
    width: 25px;
    
}