
h3{
    text-align: center;
}
.bg-header{
background-color: #2C3E50;
}

.bg-color-sez1{
    background-color:#1ABC9C;
}
.bg-color-footer1{
    background-color: #3A546D;
}
.bg-color-footer2{
    background-color: #2C3E50;
}

.bg-color-btn{
    background-color: #1ABC9C;
}
.img{
    width: 25px;
    filter: invert(1);
    
}
.black-star{
    width: 25px;
}

.avatar{
    margin: auto;
    width: 300px;    
}